<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Buying</title>
</head>
<body>
<h2 style="padding: 40px; text-align: center;">Buying</h2>

<div class="container" style="width: 40%;">

<!--    <form action="/product/add" method="POST">-->
<!--        <div class="mb-3">-->
<!--            <input class="form-control" type="text" name="name" placeholder="Name" aria-label="default input example">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <input class="form-control" type="text" name="description" placeholder="Description" aria-label="default input example">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <input class="form-control" type="text" name="price" placeholder="Price" aria-label="default input example" value="">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <input class="form-control" type="text" name="amount" placeholder="Amount" aria-label="default input example">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <input class="form-control" type="date" name="date" placeholder="Date" aria-label="default input example" value="">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
    <br>

    <!--// All -->
    {% for result in results %}

    <div class="card">
        <h5 class="card-header">{{ result.name }}</h5>
        <div class="card-body">
            <!--        <h5 class="card-title">{{ result.name }}</h5>-->
            <p class="card-text">{{ result.description }}</p>

            <form action="/product/confirm" method="POST">

            <p class="card-text">
                <small class="card-text">Price:{{ result.price }}€&nbsp;&nbsp;x&nbsp;&nbsp;</small>
                <input type="text" name="amount" value="{{ result.amount }}" />
                <small class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Date:{{ result.date }}</small>
            </p>
            <p class="card-text" style="display: flex">
                <a href="/product" class="btn btn-primary">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--                <a href="/product/{{ result.id }}/confirm" class="btn btn-primary">Buy Now</a>-->

                <input type="hidden" name="name" value="{{ result.name }}" />
                <input type="hidden" name="description" value="{{ result.description }}" />
                <input type="hidden" name="price" value="{{ result.price }}" />
<!--                <input type="hidden" name="amount" value="{{ result.amount }}" />-->
                <input type="hidden" name="date" value="{{ result.date }}" />
                <input type="hidden" name="id" value="{{ result.id }}" />
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>

            </p>
        </div>
    </div>
    <br>
    {% endfor %}

</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>